There's no place like <%= ENV.fetch("RAILS_DEVELOPMENT_HOSTS", 'home') %>

The following gems are included by default
<ul>
  <li><a href="https://github.com/kpumuk/meta-tags">Meta-tags</a></li>
  <li><a href="https://github.com/jmettraux/rufus-scheduler">rufus-scheduler</a></li>
  <li><a href="https://github.com/kjvarga/sitemap_generator">sitemap_generator</a></li>
  <li><a href="https://github.com/MiniProfiler/rack-mini-profiler">Mini Profiler</a></li>
  <li><a href="https://github.com/BetterErrors/better_errors">Better Errors</a></li>
  <li><a href="https://github.com/presidentbeef/brakeman">Brakeman</a></li>
  <li><a href="https://github.com/rubysec/bundler-audit">Bundler Audit</a></li>
  <li><a href="https://github.com/roidrage/lograge">lograge</a></li>
  <li><a href="https://github.com/teamcapybara/capybara">Capybara</a></li>
  <li><a href="https://github.com/rspec/rspec-rails">rspec-rails</a></li>
  <li><a href="https://github.com/titusfortner/webdrivers">webdrivers</a></li>
  <li><a href="https://www.selenium.dev/documentation/webdriver/">selenium webdrivers</a></li>
  <li><a href="https://github.com/rubocop/rubocop">rubocop</a></li>
</ul>

Gems you should probably check out:
<ul>
  <li><a href="https://github.com/sportngin/okcomputer">okcomputer</a></li>
  <li><a href="https://github.com/ruby-grape/grape">grape</a></li>
  <li><a href="https://github.com/bellycard/okcomputer-grape">okcomputer-grape</a></li>
  <li><a href="https://github.com/ryanb/letter_opener">letter_opener</a></li>
  <li><a href="https://github.com/rubocop/rubocop-rspec">rubocop-rspec</a></li>
  <li><a href="https://github.com/rubocop/rubocop-rails">rubocop-rails</a></li>
  <li><a href="https://github.com/rubocop/rubocop-performance">rubocop-performance</a></li>
  <li><a href="https://github.com/rubocop/guard-rubocop">guard-rubocop</a></li>
</ul>